<!DOCTYPE html>
<html>
  <head>
    <title>I18nMailer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to_unless_current 'EN', locale: "en" %> |
      <%= link_to_unless_current 'ES', locale: "es" %>
    </nav>
    
    <%= yield %>
  </body>
</html>
